{{#partial "contenido"}}

<h1 style="font-family:verdana;">Metodologias</h1>
<br>

<table class="table table-stripped">
 <thead class="thead-default">
	<tr>
		<th>Elegir metodologia</th>
		<th></th>
		<th></th>
	</tr>
 </thead>
	
	{{#each metodologias}}
		<tr>
			<td>{{nombre}}</td>
			<td><a href="/metodologias/{{id}}">Evaluar</a><td>
		</tr>
	{{/each}}
</table>
{{/partial}}

{{>layout.hbs}}