html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
.login-button{
  margin-left:295%;
}
.log-in-icon{
  pointer-events:none;
}
.log-in-body{
 background-color:skyblue;
}
