{{#partial "contenido"}}

<h1 style="font-family:verdana;">Indicadores</h1>
<br>

<table class="table table-stripped">
	<thead class="thead-default">
		<tr>
			<th>Indicador</th>
			<th></th>
		</tr>
 </thead>

	{{#each indicadores}}
		<tr>
			<td>{{equivalencia}}</td>
		</tr>
	{{/each}}
</table>

<form method="get" action="/indicadores/new">
    <button name="crearIndicador" value="crearIndicador" type="submit" class="btn btn-primary btn-lg" style="float: right;">Crear indicador</button>
</form>

<br>

{{/partial}}

{{>layout.hbs}}