{{#partial "contenido"}}

<h3 style="font-family:verdana;">Cuentas</h3>
<br>

<table class="table table-hover sortable">
	<thead class="thead-default">
		<tr>
			<th>Anio<i class="fa fa-fw fa-sort"></i></th>
			<th>Nombre<i class="fa fa-fw fa-sort"></i></th>
			<th>Valor<i class="fa fa-fw fa-sort"></i></th>
		</tr>
 </thead>

	{{#each cuentas}}
		<tr>
			<td>{{anio}}</td>
			<td>{{tipoCuenta}}</td>
			<td>{{valor}}</td>
		</tr>
	{{/each}}
</table>
<br>

{{/partial}}

{{>layout.hbs}}