{{#partial "contenido"}}

<h3 style="font-family:verdana;">Cuentas</h3>
<br>

<table class="table table-hover">
	<thead class="thead-default">
		<tr>
			<th>Anio</th>
			<th>Nombre</th>
			<th>Valor</th>
		</tr>
 </thead>

	{{#each cuentas}}
		<tr>
			<td>{{anio}}</td>
			<td>{{tipoCuenta}}</td>
			<td>{{valor}}</td>
		</tr>
	{{/each}}
</table>
<br>

{{/partial}}

{{>layout.hbs}}