{{#partial "contenido"}}

{{#with cuenta}}
	<h1> Cuenta: {{tipoCuenta}} </h1>
	
	<p><strong>Valor:</strong> {{valor}}</p>
	<p><strong>Anio:</strong> {{anio}}</p>
{{/with}}
{{/partial}}

{{>layout.hbs}}