{{#partial "contenido"}}

<div class="jumbotron">
  <h1>Prueba Listado de Cuentas</h1>
  <p>
  	Click en la pestana Cuentas para ver el listado!
  </p>
  <button type="button">
  	Cargar excel con empresas!
  </button>
</div>	

{{/partial}}

{{>layout.hbs}}