{{#partial "contenido"}}

<div class="jumbotron">
  <h1>Bienvenido a Donde-Invierto.com</h1>
  <p>
  	Click en Empresas para ver el listado de empresas!
  </p>
  <button type="button">
  	Cargar excel con empresas!
  </button>
</div>	

{{/partial}}

{{>layout.hbs}}